/* General */

/* Navbar */

/* Board */
/* Board Aside Tools Menu */
    /* Modal */
        /* Table */
        .my-custom-scrollbar {
            position: relative;
            height: 200px;
            overflow: auto;
            }
        .table-wrapper-scroll-y {
            display: block;
            }

/* Board Canva Containers */

#canvas_cont{
    margin: 10px 0 10px 0;
    height: 75vh;
    border: 2px #000 solid;
}